// Common Styles
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

// Colors
$color-blue-1: rgb(50, 231, 255);
$color-orange-1: #f08e0f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: "Bellota Text", cursive;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

.section-heading {
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
    text-align: center;
    opacity: 0.1;
    text-shadow: 2rem 2rem 4rem #aaa;
}

// End of Common Styles

// Section 1

.section-1 {
    position: relative;

    background-color: #fff;
    width: 100%;
    height: 100vh;

    &-heading {
        position: absolute;
        top: 20vw;
        left: 50%;
        width: 85rem;

        font-size: 8rem;
        font-family: 'Monoton', cursive;
        text-align: center;
        text-shadow: 0.3rem 0.3rem 0.3rem #888;
        background-color: rgba($color: #fff, $alpha: 0.5);

        padding: 0.8rem 1.6rem;
        border-radius: 50px;

        transform: translateX(-50%);
    }
}

.floating-bg {
    position: absolute;

    background-color: rgba($color-blue-1, 0.8);
    $width: 150vw;
    $height: 150vw;
    width: $width;
    height: $height;

    top: calc(#{$height} - #{$height * 1.8333});
    left: calc(50% - #{$width / 2});
    border-radius: 45%;
    animation: rotate 30s infinite;
}

.floating-bg::before {
    content: '';
    position: absolute;

    background-color: rgba($color-blue-1, 0.1);
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    border-radius: 40%;
    animation: rotate 30s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.navbar {
    position: relative;
    z-index: 20;
    top: 4rem;
    display: flex;
    justify-content: space-around;

}

.navbar-link {
    font-size: 2.7rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #555;
    width: 1.5rem;
    word-wrap: break-word;
    transition: all 0.5s;
    text-align: center;

    &:hover {
        width: 15rem;
        transition: all 2s;
        background-color: rgba($color: #fff, $alpha: .5);
    }
}

.logo {
    font-size: 20rem;
    position: absolute;
    top: 70%;
    color: rgba($color-blue-1, 0.7);
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0.1rem 0.1rem 0.1rem #ddd, -00.1rem -00.1rem 0.2rem #ddd;
}

// End of Section 1

// Section 2

.section-2 {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.customer-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}


.customer {
    width: 35rem;
    height: 50rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;

    transition: box-shadow 0.5s;
}

.customer:first-child {
    align-self: flex-end;
}

.customer:last-child {
    align-self: flex-start;
}

.customer-image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;

    margin: 2rem 0;
    border-radius: 50%;
}

.fa-quote-left {
    font-size: 4rem;
    color: $color-orange-1;
}

.customer-text {
    font-size: 1.8rem;
    margin: 2.5rem 0;
    text-align: justify;
}

.customer-text::first-letter {
    margin-left: 1rem;
}

.customer-rating i {
    font-size: 2rem;
}

.customer-name {
    font-size: 2rem;
    font-weight: 700;
}

.customer:hover {
    box-shadow: 2rem 2rem 3rem #ddd,
        -2rem -2rem 3rem #eee;
}

// End of Section 2

// Section 3

.section-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 0;
}

.team-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}

.team-member {
    width: 35rem;
    background-color: #fffeee;
    padding: 1rem 1rem 2rem 1rem;
    box-shadow: 1rem 1rem 2rem #ddd,
        -1rem -1rem 2rem #eee;
}

.story {
    display: none;
}

// End of Section 3