// Common Styles
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

// Colors
$color-blue-1: rgb(50, 231, 255);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: "Bellota Text", cursive;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

// End of Common Styles

// Section 1

.section-1 {
    position: relative;

    background-color: #fff;
    width: 100%;
    height: 100vh;

    &-heading {
        position: absolute;
        top: 20vw;
        left: 50%;
        width: 85rem;

        font-size: 8rem;
        font-family: 'Monoton', cursive;
        text-align: center;
        text-shadow: 0.3rem 0.3rem 0.3rem #888;
        background-color: rgba($color: #fff, $alpha: 0.5);

        padding: 0.8rem 1.6rem;
        border-radius: 50px;

        transform: translateX(-50%);
    }
}

.floating-bg {
    position: absolute;

    background-color: rgba($color-blue-1, 0.8);
    $width: 150vw;
    $height: 150vw;
    width: $width;
    height: $height;

    top: calc(#{$height} - #{$height * 1.8333});
    left: calc(50% - #{$width / 2});
    border-radius: 45%;
    animation: rotate 30s infinite;
}

.floating-bg::before {
    content: '';
    position: absolute;

    background-color: rgba($color-blue-1, 0.1);
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    border-radius: 40%;
    animation: rotate 30s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.navbar {
    position: relative;
    z-index: 20;
    top: 4rem;
    display: flex;
    justify-content: space-around;

}

.navbar-link {
    font-size: 2.7rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #555;
    width: 1.5rem;
    word-wrap: break-word;
    transition: all 0.5s;
    text-align: center;

    &:hover {
        width: 15rem;
        transition: all 2s;
        background-color: rgba($color: #fff, $alpha: .5);
    }
}

.logo {
    font-size: 20rem;
    position: absolute;
    top: 70%;
    color: rgba($color-blue-1, 0.7);
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0.1rem 0.1rem 0.1rem #ddd, -00.1rem -00.1rem 0.2rem #ddd;
}

// End of Section 1